/* src/styles.css */
.dm-button {
  --interactive-normal: #7852ee;
  --interactive-hover: #a882ff;
}
.dm-delete {
  --interactive-normal: #fb464c;
  --interactive-hover: #fb464c;
}
.dm-hidden {
  display: none;
  transition-duration: 1500ms;
}
.dm-bib-wrapper {
  width: 100%;
  margin-bottom: 0.75rem;
}
.dm-center-header {
  text-align: center;
}
/*# sourceMappingURL=data:application/json;base64,ewogICJ2ZXJzaW9uIjogMywKICAic291cmNlcyI6IFsic3JjL3N0eWxlcy5jc3MiXSwKICAic291cmNlc0NvbnRlbnQiOiBbIi5kbS1idXR0b257XHJcbiAgICAtLWludGVyYWN0aXZlLW5vcm1hbDogIzc4NTJlZTtcclxuICAgIC0taW50ZXJhY3RpdmUtaG92ZXI6ICNhODgyZmY7XHJcbn1cclxuXHJcbi5kbS1kZWxldGV7XHJcbiAgICAtLWludGVyYWN0aXZlLW5vcm1hbDogI2ZiNDY0YztcclxuICAgIC0taW50ZXJhY3RpdmUtaG92ZXI6ICNmYjQ2NGM7XHJcbn1cclxuLmRtLWhpZGRlbntcclxuICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICB0cmFuc2l0aW9uLWR1cmF0aW9uOiAxNTAwbXM7XHJcbn1cclxuXHJcbi5kbS1iaWItd3JhcHBlciB7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIG1hcmdpbi1ib3R0b206IDAuNzVyZW07XHJcbn1cclxuLmRtLWNlbnRlci1oZWFkZXJ7XHJcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbn0iXSwKICAibWFwcGluZ3MiOiAiO0FBQUEsQ0FBQztBQUNHLHdCQUFzQjtBQUN0Qix1QkFBcUI7QUFDekI7QUFFQSxDQUFDO0FBQ0csd0JBQXNCO0FBQ3RCLHVCQUFxQjtBQUN6QjtBQUNBLENBQUM7QUFDRyxXQUFTO0FBQ1QsdUJBQXFCO0FBQ3pCO0FBRUEsQ0FBQztBQUNHLFNBQU87QUFDUCxpQkFBZTtBQUNuQjtBQUNBLENBQUM7QUFDRyxjQUFZO0FBQ2hCOyIsCiAgIm5hbWVzIjogW10KfQo= */
