/* src/styles.css */
.rp-button {
  --interactive-normal: #7852ee;
  --interactive-hover: #a882ff;
}
.rp-delete {
  --interactive-normal: #fb464c;
  --interactive-hover: #fb464c;
}
/*# sourceMappingURL=data:application/json;base64,ewogICJ2ZXJzaW9uIjogMywKICAic291cmNlcyI6IFsic3JjL3N0eWxlcy5jc3MiXSwKICAic291cmNlc0NvbnRlbnQiOiBbIi5ycC1idXR0b257XHJcbiAgICAtLWludGVyYWN0aXZlLW5vcm1hbDogIzc4NTJlZTtcclxuICAgIC0taW50ZXJhY3RpdmUtaG92ZXI6ICNhODgyZmY7XHJcbn1cclxuXHJcbi5ycC1kZWxldGV7XHJcbiAgICAtLWludGVyYWN0aXZlLW5vcm1hbDogI2ZiNDY0YztcclxuICAgIC0taW50ZXJhY3RpdmUtaG92ZXI6ICNmYjQ2NGM7XHJcbn1cclxuIl0sCiAgIm1hcHBpbmdzIjogIjtBQUFBO0FBQ0k7QUFDQTtBQUFBO0FBR0o7QUFDSTtBQUNBO0FBQUE7IiwKICAibmFtZXMiOiBbXQp9Cg== */
