.dm-button{
    --interactive-normal: #7852ee;
    --interactive-hover: #a882ff;
}

.dm-delete{
    --interactive-normal: #fb464c;
    --interactive-hover: #fb464c;
}
.dm-hidden{
    display: none;
    transition-duration: 1500ms;
}

.dm-bib-wrapper {
    width: 100%;
    margin-bottom: 0.75rem;
}
