.rp-button{
    --interactive-normal: #7852ee;
    --interactive-hover: #a882ff;
}

.rp-delete{
    --interactive-normal: #fb464c;
    --interactive-hover: #fb464c;
}
.rp-hidden{
    display: none;
    transition-duration: 1500ms;
}

.rp-bib-wrapper {
    width: 100%;
    margin-bottom: 0.75rem;
}
